In [1]:
import pandas as pd

In [2]:
path = "../Dataset Super Users/questions_2020_2022.csv"

In [3]:
df = pd.read_csv(path)

In [6]:
df['Tags']

0              macos|-|python|-|zsh|-|compression|-|tar|-|
1                                                 crash|-|
2              windows-10|-|memory|-|docker|-|resources|-|
3                                   windows|-|uninstall|-|
4                                           motherboard|-|
                               ...
49995    linux|-|windows|-|windows-subsystem-for-linux|...
49996                                   microsoft-excel|-|
49997       microsoft-excel|-|worksheet-function|-|time|-|
49998    linux|-|ubuntu|-|mount|-|windows-subsystem-for...
49999           microsoft-excel|-|spreadsheet|-|vlookup|-|
Name: Tags, Length: 50000, dtype: object

In [7]:
df

,Tags,User_Name,Title,View_count,Down_vote_count,Up_vote_count,Answer_count,Score,Creation_date,Question_id,Question_link,Is_Answered
0,macos|-|python|-|zsh|-|compression|-|tar|-|,Saaru Lindest&#248;kke,Why are tar.xz files 15x smaller when using Py...,57933,0,242,3,242,242,1615657068,1633073,https://superuser.com/questions/1633073/why-ar...
1,crash|-|,Stuntddude,Why does my PC crash only when my cat is nearby?,24585,8,150,11,142,142,1613416737,1626284,https://superuser.com/questions/1626284/why-do...
2,windows-10|-|memory|-|docker|-|resources|-|,CiaranWelsh,How can I reduce the consumption of the `vmmem...,225274,0,116,11,116,116,1591697218,1559170,https://superuser.com/questions/1559170/how-ca...
3,windows|-|uninstall|-|,Anne Maier,What is the best way to remove 100% of a softw...,13317,1,95,13,94,94,1606380846,1605207,https://superuser.com/questions/1605207/what-i...
4,motherboard|-|,MechMK1,How do modern motherboards differ from each ot...,11845,2,92,3,90,90,1604851644,1600547,https://superuser.com/questions/1600547/how-do...
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,linux|-|windows|-|windows-subsystem-for-linux|...,Sean,dual Kali linux instances windows wsl2,65,0,0,1,0,0,1651520993,1719099,https://superuser.com/questions/1719099/dual-k...
49996,microsoft-excel|-|,Jeff,Add cells then subtract 1 if there is a date i...,42,0,0,1,0,0,1651522084,1719100,https://superuser.com/questions/1719100/add-ce...
49997,microsoft-excel|-|worksheet-function|-|time|-|,Mira,How to calculate how many days have passed bas...,12,0,0,1,0,0,1651523775,1719103,https://superuser.com/questions/1719103/how-to...
49998,linux|-|ubuntu|-|mount|-|windows-subsystem-for...,cclloyd,NFS Permission Denied when mounting from WSL,438,0,0,1,0,0,1651524070,1719105,https://superuser.com/questions/1719105/nfs-pe...
49999,microsoft-excel|-|spreadsheet|-|vlookup|-|,stckexhnge57,Lookup the 1st or nth appearance of value betw...,40,0,0,1,0,0,1651524648,1719106,https://superuser.com/questions/1719106/lookup...

In [8]:
tags = df['Tags']

In [9]:
tags

0              macos|-|python|-|zsh|-|compression|-|tar|-|
1                                                 crash|-|
2              windows-10|-|memory|-|docker|-|resources|-|
3                                   windows|-|uninstall|-|
4                                           motherboard|-|
                               ...
49995    linux|-|windows|-|windows-subsystem-for-linux|...
49996                                   microsoft-excel|-|
49997       microsoft-excel|-|worksheet-function|-|time|-|
49998    linux|-|ubuntu|-|mount|-|windows-subsystem-for...
49999           microsoft-excel|-|spreadsheet|-|vlookup|-|
Name: Tags, Length: 50000, dtype: object

In [10]:
tags.to_csv("../Dataset Super Users/tags.csv", index=False)

In [13]:
apri = pd.read_csv('tags.csv')

In [14]:
apri

                                                    Tags
0            macos|-|python|-|zsh|-|compression|-|tar|-|
1                                               crash|-|
2            windows-10|-|memory|-|docker|-|resources|-|
3                                 windows|-|uninstall|-|
4                                         motherboard|-|
...                                                  ...
49995  linux|-|windows|-|windows-subsystem-for-linux|...
49996                                 microsoft-excel|-|
49997     microsoft-excel|-|worksheet-function|-|time|-|
49998  linux|-|ubuntu|-|mount|-|windows-subsystem-for...
49999         microsoft-excel|-|spreadsheet|-|vlookup|-|

[50000 rows x 1 columns]

In [18]:
ok = pd.read_csv("edges.csv")

In [19]:
ok

                     Source                Target  Count
0                     macos                python     14
1                     macos                   zsh     57
2                     macos           compression      3
3                     macos                   tar      3
4                     macos                 crash      3
...                     ...                   ...    ...
63395          blob-storage                azcopy      1
63396             raspberry                   apm      1
63397          input-method  chinese-input-method      1
63398          input-method             ime-quick      1
63399  chinese-input-method             ime-quick      1

[63400 rows x 3 columns]

In [26]:
ok.head(775)

     Source          Target  Count
0     macos          python     14
1     macos             zsh     57
2     macos     compression      3
3     macos             tar      3
4     macos           crash      3
..      ...             ...    ...
770   macos  usb-controller      1
771   macos     corestorage      1
772   macos       dead-keys      1
773   macos        redshift      1
774  python             zsh      3

[775 rows x 3 columns]

In [36]:
ok[ok['Source']=='macos']

    Source          Target  Count
0    macos          python     14
1    macos             zsh     57
2    macos     compression      3
3    macos             tar      3
4    macos           crash      3
..     ...             ...    ...
769  macos     system-info      1
770  macos  usb-controller      1
771  macos     corestorage      1
772  macos       dead-keys      1
773  macos        redshift      1

[774 rows x 3 columns]

In [37]:
ok[ok['Source']=='windows-10']

          Source            Target  Count
1634  windows-10            memory    144
1635  windows-10            docker     14
1636  windows-10         resources      1
1637  windows-10           windows   1643
1638  windows-10         uninstall     33
...          ...               ...    ...
3525  windows-10           nextdns      1
3526  windows-10      preview-pane      1
3527  windows-10  case-sensitivity      1
3528  windows-10      side-loading      1
3529  windows-10        notify-osd      1

[1896 rows x 3 columns]

In [38]:
ok[ok['Source']=='linux']

      Source        Target  Count
9444   linux         audio     82
9445   linux     duplicate      1
9446   linux           wav      1
9447   linux        stereo      1
9448   linux           dns     71
...      ...           ...    ...
11177  linux          nmon      1
11178  linux         lando      1
11179  linux     dead-keys      1
11180  linux  gparted-live      1
11181  linux        gunzip      1

[1738 rows x 3 columns]

In [41]:
ok[ok['Source']=='zoom']

      Source                Target  Count
57285   zoom    system-preferences      1
57286   zoom        multiple-users      1
57287   zoom   fast-user-switching      1
57288   zoom        user-switching      1
57289   zoom  microsoft-visio-2016      1
57290   zoom             magnifier      1
57291   zoom                  asio      1
57292   zoom   microsoft-surface-3      1
57293   zoom               margins      1

In [42]:
ok[ok['Source']=='skype']

      Source                 Target  Count
60017  skype             dictionary      1
60018  skype  chrome-remote-desktop      1
60019  skype                    bug      1
60020  skype     skype-for-business      1
60021  skype                    pen      1
60022  skype                sharing      1
60023  skype                    pin      1
60024  skype             teamviewer      1
60025  skype                   voip      1
60026  skype   skype-for-windows-10      2
60027  skype               contacts      1
60028  skype          collaboration      1
60029  skype      mikrotik-routeros      1
60030  skype        citrix-receiver      1
60031  skype             voice-chat      1
60032  skype             whiteboard      1
60033  skype               logitech      1

In [43]:
ok[ok['Source']=='teams']

      Source     Target  Count
59482  teams     column      1
59483  teams  microsoft      1

In [56]:
ok[ok['Source']=='webex']

      Source                            Target  Count
62033  webex                              evil      1
62034  webex  microsoft-power-automate-desktop      1

In [69]:
ok[ok['Source']=='chat']

      Source                            Target  Count
55986   chat                           restore      1
55987   chat                telegram-messenger      1
55988   chat                               irc      3
55989   chat                         microsoft      1
55990   chat                             irssi      1
55991   chat  microsoft-power-automate-desktop      1

In [76]:
ok[ok['Source']=='lessons']

Empty DataFrame
Columns: [Source, Target, Count]
Index: []